.footer {
  background-color: #0a2850;
  color: #ffffff;
}

.footer__content {
  padding: 60px 80px 0 80px;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.footer__logo {
  height: 39px;
  width: 105px;
  z-index: 1;
}

.footer__circle {
  width: 340px;
  height: 340px;
  background-color: #2f80ed;
  border-radius: 50%;
  position: absolute;
  top: -128px;
  left: -44px;
  bottom: 108px;
  z-index: 0;
}

.footer__social {
  flex-direction: column;
}

.footer__social-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__list {
  list-style-type: none;
}

.footer__list-item {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  gap: 10px;
  padding: 0 0 16px 0;
}

.footer__list-link {
  text-decoration: none;
  color: #ffffff;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
}

.footer__copyright {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  left: 80px;
  padding-top: 108px;
  padding-bottom: 60px;
}
