.header {
  background-color: #ffffff;
  background-image: url(/web_project_coffeeshop/images/background_header.svg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 720px;
  max-height: 800px;
  display: flex;
  position: relative;
}

.header__image {
  max-width: 646px;
  max-height: 568px;
  position: absolute;
  right: 5px;
  top: 124px;
  display: flex;
}

.header__title {
  position: absolute;
  left: 80px;
  top: 183px;
  max-width: 709px;
}

.header__title span {
  /*estudar esses modificadores BEM!*/
  display: block;
  font-size: 58px;
  line-height: 72px;
}

.header__title span:nth-child(1) {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__title span:nth-child(2) {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 1px;
}

.header__description {
  max-width: 683px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  position: absolute;
  left: 80px;
  top: 350px;
}

.header__footer {
  display: flex;
}

.header__paragraph {
  list-style-type: none;
  position: absolute;
  left: 80px;
  bottom: 40px;
  font-family: "Inter";
  font-size: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}
