.nav {
}

.nav__logo {
}

.nav__links {
  display: flex;
  list-style-type: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 0; /* Remover padding padrão de ul */
  margin: 0; /* Remover margem padrão de ul */
  column-gap: 20px;
}

.nav__link {
  text-decoration: none;
  color: inherit;
  display: flex;
}
