.nav {
  display: flex;
  justify-content: space-between;
  margin-right: 80px;
  margin-left: 30px;
  margin-top: 30px;
}

.nav__logo {
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  list-style-type: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  column-gap: 20px;
}

.nav__link {
  text-decoration: none;
  color: inherit;
  display: flex;
}
