.recipes {
  background-image: url(/web_project_coffeeshop/images/background_recipes.svg);
  background-color: #0a2750;
  background-size: cover;
  position: relative;
  height: 100vh;
  color: #ffffff;
  display: flex;
  height: 858px;
}

.recipes__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  position: absolute;
  left: 80px;
  top: 100px;
}

.recipes__subtitle {
  max-width: 438px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  position: absolute;
  left: 80px;
  top: 180px;
}

.recipes__videos {
  list-style-type: none;
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  gap: 40px;
  top: 325px;
}

.recipes__item {
  display: flex;
  position: relative;
  flex-direction: column;
}

.recipes__iframe {
  border: none;
  width: 480px;
  height: 273px;
  display: block;
}

.recipes__caption {
  display: flex;
  justify-content: space-between;
}

.recipes__caption-first-words {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
  text-align: start;
}

.recipes__caption-last-words {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
  text-align: end;
}
