.reservation {
  background-image: url("/web_project_coffeeshop/images/background_reservation.svg");
  background-color: #d9e7ff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 944px;
  width: auto;
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 120px;
  z-index: 1;
}

.reservation__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  position: absolute;
  display: flex;
  margin-top: 0;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
}

.reservation__form {
  display: flex;
  justify-content: center;
}

.reservation__fieldset {
  position: absolute;
  top: 232px;
  max-width: 385px;
  box-sizing: border-box;
}

.reservation__label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.reservation__input {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  border-radius: 4px;
  width: 100%;
  height: 60px;
  margin-bottom: 32px;
}

.reservation__input::placeholder {
  color: #838383;
  padding-left: 20px;
  padding-top: 15px;
}

.reservation__buttons {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.reservation__button {
  border-radius: 4px;
  height: 60px;
  width: 100%;
}

.reservation__button:hover {
  opacity: 70%;
}

.reservation__button-submit:enabled {
  background: #2f80ed;
  color: #ffffff;
}

.reservation__checkbox {
  border-radius: 2px;
  height: 20px;
  width: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.reservation__label_type_checkbox {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-top: 32px;
}
