@import url("../vendor/normalize.css");
@import url("../blocks/footer.css");
@import url("../blocks/form.css");
@import url("../blocks/header.css");
@import url("../blocks/nav.css");
@import url("../blocks/page.css");
@import url("../blocks/recipes.css");
@import url("../blocks/reservation.css");

.page {
  max-width: 1600px;
  min-width: 1100px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  height: 100vh;
}

* {
  scroll-behavior: smooth;
}

.header {
  background-color: #ffffff;
  background-image: url(/web_project_coffeeshop/images/background_header.svg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 720px;
  max-height: 800px;
  display: flex;
  position: relative;
}

.nav {
}

.nav__logo {
  position: absolute;
  left: 30px;
  top: 30px;
  max-width: 105px;
  max-height: 39px;
}

.nav__links {
  display: flex;
  list-style-type: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 0; /* Remover padding padrão de ul */
  margin: 0; /* Remover margem padrão de ul */
  column-gap: 20px;
}

.nav__link {
  position: absolute;
  right: 80px;
  top: 30px;
  text-decoration: none;
  color: inherit;
  display: flex;
}

.header__image {
  max-width: 646px;
  max-height: 568px;
  position: absolute;
  right: 5px;
  top: 124px;
  display: flex;
}

.header__title {
  position: absolute;
  left: 80px;
  top: 183px;
  max-width: 709px;
}

.header__title span {
  /*estudar esses modificadores BEM!*/
  display: block;
  font-size: 58px;
  line-height: 72px;
}

.header__title span:nth-child(1) {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__title span:nth-child(2) {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 1px;
}

.header__description {
  max-width: 683px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  position: absolute;
  left: 80px;
  top: 350px;
}

.header__footer {
  display: flex;
}

.header__paragraph {
  list-style-type: none;
  position: absolute;
  left: 80px;
  bottom: 40px;
  font-family: "Inter";
  font-size: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.recipes {
  background-image: url(/web_project_coffeeshop/images/background_recipes.svg);
  background-color: #0a2750;
  background-size: cover;
  position: relative;
  height: 100vh;
  color: #ffffff;
  display: flex;
  height: 858px;
}

.recipes__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  position: absolute;
  left: 80px;
  top: 100px;
}

.recipes__subtitle {
  max-width: 438px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  position: absolute;
  left: 80px;
  top: 180px;
}

.recipes__videos {
  list-style-type: none;
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  gap: 40px;
  top: 325px;
}

.recipes__item {
  display: flex;
  position: relative;
  flex-direction: column;
}

.recipes__iframe {
  border: none;
  width: 480px;
  height: 273px;
  display: block;
}

.recipes__caption {
  display: flex;
  justify-content: space-between;
}

.recipes__caption-first-words {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
  text-align: start;
}

.recipes__caption-last-words {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
  text-align: end;
}

.reservation {
  background-image: url(/web_project_coffeeshop/images/background_reservation.svg);
  background-color: #d9e7ff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 944px;
  width: auto;
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 120px;
  z-index: 1;
}

.reservation__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  position: absolute;
  display: flex;
  margin-top: 0;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
}

.reservation__form {
  display: flex;
  justify-content: center;
}

.reservation__fieldset {
  position: absolute;
  top: 232px;
  max-width: 385px;
  box-sizing: border-box;
}

.reservation__label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.reservation__input {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  border-radius: 4px;
  width: 100%;
  height: 60px;
  margin-bottom: 32px;
}

.reservation__input::placeholder {
  color: #838383;
  padding-left: 20px;
  padding-top: 15px;
}

.reservation__buttons {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.reservation__button {
  border-radius: 4px;
  height: 60px;
  width: 100%;
}

.reservation__button:hover {
  opacity: 70%;
}

.reservation__button-submit:enabled {
  background: #2f80ed;
  color: #ffffff;
}

.reservation__checkbox {
  border-radius: 2px;
  height: 20px;
  width: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.reservation__label_type_checkbox {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-top: 32px;
}

.footer {
  background-color: #0a2850;
  color: #ffffff;
}

.footer__content {
  padding: 60px 80px 0 80px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.footer__logo {
  height: 39px;
  width: 105px;
  z-index: 1;
}

.footer__circle {
  width: 340px;
  height: 340px;
  background-color: #2f80ed;
  border-radius: 50%;
  position: absolute;
  top: -128px;
  left: -44px;
  bottom: 108px;
  z-index: 0;
}

.footer__social {
}

.footer__social-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}

.footer__list {
  list-style-type: none;
  column-gap: 16px;
}

.footer__list-item {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer__list-link {
  text-decoration: none;
  color: #ffffff;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
}

.footer__copyright {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  left: 80px;
  padding-top: 108px;
  padding-bottom: 60px;
}
